 # 🔰 Lesson 1: Python Print Statement aur Comments

## Python print() Function   Use to display output

# Lesson 1: Basic Syntax and Print

## 📘 Syntax Rules:
- No semicolon needed
- Indentation matters
- Use `print()` to display output

## 🧪 Examples:

**Code Cell 1: Hello World**

In [1]:
print ("Assalam Alaykum")

Assalam Alaykum

In [2]:
print("Hello from Python in Azure Data Studio!")

Hello from Python in Azure Data Studio!

In [3]:
("Hello my name is moin ")

'Hello my name is moin '

***🔹 Code Cell 2: Multiple Lines***

In [4]:
print("Learning Python is easy.")
print("What is your name?")

Learning Python is easy.
What is your name?

### 🔹 Code Cell 3: Escape Characters

In [5]:
print("Yeh \"Python\" ka lesson hai.")
print("Line1\nLine2")

Yeh "Python" ka lesson hai.
Line1
Line2

In [6]:
print("She said: \"Hello!\"")
print('It\'s a beautiful day!')
print("Line1\nLine2")       # \n = new line

She said: "Hello!"
It's a beautiful day!
Line1
Line2

In [7]:
print ("Hello Friend: \"We Love Python\"")

Hello Friend: "We Love Python"

In [8]:
print("My Name is Syed \n I am learning python ")

My Name is Syed
 I am learning python

# Lesson 2: Variables & Data Types in Python

### 🔹 1. What is a Variable?

####   Variables are containers for storing data values.

 🔸 Code Cell 1: Basic Variable Examples

In [9]:
#  Variables in python
a = 123456  # integer number 
print(a)

123456

In [10]:
b = 1.1357101 # decimal number
print(b)

1.1357101

In [11]:
c = "My Name is Syed ""I am learning python "  # word/sentence- use quotes
print(c)

My Name is Syed I am learning python

In [12]:
Rani = 26  # declare a varibale using varibale 
d = Rani
print(d)

26

In [13]:
x = 10     # adding a number to a variable 
print(x+51)

61

In [14]:
a,b,c = 11,12,13  # assign multiple varibales
print(a,b,c) 
print(a)
print(b)
print(c)

11 12 13
11
12
13

In [15]:
# rules to declare a varibales 
# 1. varibale name must start with: letter or _ 
_my_name = "Rashika"
print(_my_name)
# _my_name = "Rashika"

Rashika

In [16]:
# 2. Varibale name can contain: letter, numbers, underscore (_)
my_name1 = "My name is Syed \n"   "I am from Hyderabad"
r1 = 26 
_1 = 1
print(my_name1)
print(r1)
print(_1)

My name is Syed
I am from Hyderabad
26
1

In [1]:
# 3. Variables are case sensitive 
myName = "Monica "
print(myName)

Monica

In [2]:
name = 'Ahemad'
age = 35
height = 5.8
is_student = True

🔸 Code Cell 2: Print various variables

In [20]:
print('Name:',name)
print('Age:', age)
print('Height',height)
print('Student', is_student)

Name: Ahemad
Age: 35
Height 5.8
Student True

### Python Variables and Data Types — With Examples

In [21]:
my_name = "Syed Moin"
my_age = 45
my_salary = 120000.50
is_married = True

print("Name:", my_name)
print("Age:", my_age)
print("Salary:", my_salary)
print("Married:", is_married)

Name: Syed Moin
Age: 45
Salary: 120000.5
Married: True

🔸 Code Cell 3: Perform a type check

In [22]:
print(type(my_name))
print(type(my_age))
print(type(my_salary))
print(type(is_married))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [23]:
employee_name = 'Zain Arshad'
employee_id = 205
monthly_salary =35000
is_permanent = False

print ('EmployeeName' , employee_name)
print('EmployeeID' ,employee_id)
print('MonthlySalary',monthly_salary)
print('Permanent' , is_permanent)

EmployeeName Zain Arshad
EmployeeID 205
MonthlySalary 35000
Permanent False

In [24]:
print (type(employee_name) )
print(type(employee_id))
print(type(monthly_salary))
print(type(is_permanent) )

<class 'str'>
<class 'int'>
<class 'int'>
<class 'bool'>

# 🧑‍🏫 Lesson 3: User Input & Type Conversion in Python

### Lesson 3: User Input and Type Conversion

🔹 1. input() Function – Getting data from the user

In [26]:
name = input ("Enter your name:  ")
print ("welcome ", name )

Enter your name:   Syed Moinuddin

welcome  Syed Moinuddin

🔹 2. Verify using the type() function.

In [28]:
age = input('Enter your age : ')
print (type(age))

Enter your name :  2

<class 'str'>

#### 🔹 3. Type Conversion: int(), float(), bool()

#### Convert string to number.

In [34]:
age = int(input('Enter your age : '))
salary = float(input("Enter your salar"))

Enter your age :  35
Enter your salar 35000.200

🔸 Code Cell Example:

In [42]:
name = input("Enter your name :")
age = int(input("Enter you age. "))
salary = float(input(" Enter your salary :"))
is_married = input("Are you married? (True/False): ")

print("--------------------Profile Summary ---------------")
print ("Name :",name ) 
print("Age: ",age)
print("Salary " ,salary) 
print("Married :", is_married)

Enter your name : Syed
Enter you age.  45
 Enter your salary : 450111
Are you married? (True/False):  True

--------------------Profile Summary ---------------
Name : Syed
Age:  45
Salary  450111.0
Married True

In [43]:
int_num = 101           # int type
str_num = str(int_num)  # convert to str type
print(type(str_num))

<class 'str'>

In [44]:
a0 = bool(0)  # boolean type - False
print(a0)
print(type(a0))

False
<class 'bool'>

# 🧑‍🏫 Lesson 4: Arithmetic & Comparison Operators in Pytho

## Lesson 4: Arithmetic and Comparison Operators

### 🔹 1. Arithmetic Operators (For Mathematics)

| Operator | Name                | Example  | Output |
| -------- | ------------------- | -------- | ------ |
| `+`      | Addition            | `5 + 2`  | `7`    |
| `-`      | Subtraction         | `5 - 2`  | `3`    |
| `*`      | Multiplication      | `5 * 2`  | `10`   |
| `/`      | Division            | `5 / 2`  | `2.5`  |
| `//`     | Floor Division      | `5 // 2` | `2`    |
| `%`      | Modulus (remainder) | `5 % 2`  | `1`    |
| `**`     | Exponent (power)    | `2 ** 3` | `8`    |

### 🔸 Code Cell 1: Arithmetic Examples

In [45]:
a = 10
b = 3

print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)
print("Floor Division:", a // b)
print("Modulus:", a % b)
print("Exponent:", a ** b)

Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Floor Division: 3
Modulus: 1
Exponent: 1000

In [19]:
a** 3

3375

### 🔹 2. Comparison Operators

| Operator | Meaning          | Example  | Output  |
| -------- | ---------------- | -------- | ------- |
| `==`     | Equal to         | `5 == 5` | `True`  |
| `!=`     | Not equal to     | `5 != 3` | `True`  |
| `>`      | Greater than     | `5 > 3`  | `True`  |
| `<`      | Less than        | `5 < 3`  | `False` |
| `>=`     | Greater or Equal | `5 >= 5` | `True`  |
| `<=`     | Less or Equal    | `5 <= 6` | `True`  |

### 🔸 Code Cell 2: Comparison Examples

In [12]:
x = 15
y = 10

print("Equal?", x == y)
print("Not equal?", x != y)
print("Greater than?", x > y)
print("Less than?", x < y)
print("Greater or equal?", x >= y)
print("Less or equal?", x <= y)

Equal? False
Not equal? True
Greater than? True
Less than? False
Greater or equal? True
Less or equal? False

In [14]:
x==y

False

In [15]:
x!=y

True

In [16]:
x>y

True

In [17]:
a = 15
b = 20
a ==b

False

## 🧑‍🏫 Lesson 5: Conditional Statements (if, elif, else)

#### 🔹 1. What are Conditionals?

#### Conditionals allow Python to make decisions based on conditions.

🔹 2. Syntax of if, elif, else
 if condition:
    # Code if condition is True
elif another_condition:
    # Code if this new condition is True
else:
    # Code if all above conditions are False

🔸 Code Cell 1: Simple if

In [48]:
age = 20

if age >= 18:
    print("You are eligible to vote.")

You are eligible to vote.

#### 🔸 Code Cell 2: if + else

In [49]:
age = int(input("Enter your age: "))

if age >= 18:
    print("Eligible for driving license.")
else:
    print("Not eligible yet.")

Enter your age:  22

Eligible for driving license.

#### 🔸 Code Cell 3: if + elif + else

In [50]:
marks = int(input("Enter your marks: "))

if marks >= 90:
    print("Grade: A")
elif marks >= 75:
    print("Grade: B")
elif marks >= 60:
    print("Grade: C")
else:
    print("Grade: D or Fail")

Enter your marks:  95

Grade: A

## If-Elif-Else Statement Example

#### Check age (whether above 18 or not)

In [10]:
age = 20
age =(int(input("Enter Your Age ")))
if age >= 20:
    print ("You are enter to club")
elif age >= 45 and age <= 50:
    print("Your are member of club")
else:
    print("You can't enter")

Enter Your Age  15

You can't enter

### Please indicate the grade based on the marks.

In [51]:
username = input("Enter your username: ")

if username == "admin":
    print("Welcome, Admin!")
else:
    print("Access Denied.")

Enter your username:  admin

Welcome, Admin!