 # ðŸ”° Lesson 1: Python Print Statement aur Comments

# The print function is used to display text or other outputs to the console.

In [2]:
print("Ø¨Ø³Ù… Ø§Ù„Ù„Ù‡ Ø§Ù„Ø±Ø­Ù…Ù† Ø§Ù„Ø±Ø­ÙŠÙ…")

Ø¨Ø³Ù… Ø§Ù„Ù„Ù‡ Ø§Ù„Ø±Ø­Ù…Ù† Ø§Ù„Ø±Ø­ÙŠÙ…

In [3]:
print("Hello world")

Hello world

In [2]:
print("Welcome to learn python")

Welcome to learn python

# Variables are Temporary storage

#  Variables: Variables store information to be referenced and manipulated in a program.

In [91]:
st = 'Sam'    # st is variables 
st

'Sam'

In [92]:
st = 'Jhon'
st

'Jhon'

In [93]:
st= 'Moto '
st

'Moto '

In [94]:
''' 
Data Types: Common data types include 
integers (int), 
floating-point numbers (float), 
strings (str),
and booleans (bool).
'''

' \nData Types: Common data types include \nintegers (int), \nfloating-point numbers (float), \nstrings (str),\nand booleans (bool).\n'

# Strings are used to represent text data and are one of the fundamental data types in Python. They are immutable, 
# meaning once a string is created, its contents cannot be changed.

In [3]:
st1 ="My name is Syed Moin"
st1

'My name is Syed Moin'

In [96]:
st1[5:10]

'me is'

In [97]:
len(st1)

15

st1[0]= 'Your'

In [4]:
st1.replace('My','Your')

'Your name is Syed Moin'

In [5]:
st1

'My name is Syed Moin'

In [7]:
a1 = 100 + 21
a1
type(a1)

int

In [101]:
a1 = 315.25
a1
type(a1)

float

In [102]:
a1 = ' Name'
a1
type(a1)

str

In [103]:
a1 = True        #is_student = True
a1
type(a1)

bool

In [104]:
"""
These are basic arithmetic operations.
Addition (+), 
subtraction (-),
multiplication (*), 
division (/), 
and modulus (%) 
which gives the remainder of a division.
"""

'\nThese are basic arithmetic operations.\nAddition (+), \nsubtraction (-),\nmultiplication (*), \ndivision (/), \nand modulus (%) \nwhich gives the remainder of a division.\n'

# Arithmetic operations

In [105]:
a =30
b = 20
c=55

In [106]:
a,b,c

(30, 20, 55)

In [107]:
a + b + c

105

In [108]:
a - b

10

In [109]:
a*c

1650

In [110]:
a * b

600

In [111]:
a/b

1.5

In [112]:
a % b

10

In [113]:
# Comparison Operators
'''
print(a == b) # Equals
print(a != b) # Not equals
print(a > b)  # Greater than
print(a < b)  # Less than
print(a >= b) # Greater than or equal to
print(a <= b) # Less than or equal to

'''

'\nprint(a == b) # Equals\nprint(a != b) # Not equals\nprint(a > b)  # Greater than\nprint(a < b)  # Less than\nprint(a >= b) # Greater than or equal to\nprint(a <= b) # Less than or equal to\n\n'

In [114]:
a=50
b = 100

In [115]:
a>b

False

In [116]:
a<b

True

In [117]:
a==b

False

In [118]:
a!=b

True

In [119]:
# Both conditions are true
a = True
b = True
print(a and b)  # Output: True

# One condition is false
a = True
b = False
print(a and b)  # Output: False

# Both conditions are false
a = False
b = False
print(a and b)  # Output: False

# Using with comparison operators
x = 10
y = 20
print(x > 5 and y < 30)  # Output: True (since 10 > 5 and 20 < 30 are both true)
print(x < 5 and y < 30)  # Output: False (since 10 < 5 is false, even though 20 < 30 is true)

True
False
False
True
False

In [120]:
x = 10
y = 20
print(x > 5 and y < 30)  # Output: True (since 10 > 5 and 20 < 30 are both true)

True

In [121]:
x = 10
y = 20

In [122]:
print(x < 5 and y < 30)  # Output: False (since 10 < 5 is false, even though 20 < 30 is true)

False

In [123]:
print(x > 5 and y < 30)

True

# Python Assignment Operators:   Assignment operators are used to assign values to variables:

In [124]:
''' += (Addition Assignment)Adds the value on the right 
to the variable on the left and assigns the result to the variable.   
'''
x = 5 
x += 3  # Equivalent to x = x + 3  
print(x)

8

In [125]:
f = 15
f += 5
f

20

In [126]:
x = 5  #-= (Subtraction Assignment)
x -= 2  # Equivalent to x = x - 2
print(x)

3

In [127]:
x = 5  # *= (Multiplication Assignment)
x *= 4  # Equivalent to x = x * 4
print(x)

20

In [128]:
x = 20 # /= (Division Assignment)
x /= 4  # Equivalent to x = x / 4
print(x)

5.0

In [129]:
x = 20 # %= (Modulus Assignment)
x %= 3  # Equivalent to x = x % 3
print(x)

2

# Logical Operators

In [130]:
a =True
b = False

In [131]:
a & b

False

In [132]:
a&a

True

In [133]:
b&b

False

In [134]:
a | b

True

In [135]:
a|a

True

In [136]:
b|a

True

In [137]:
b and a

False

In [138]:
a and b

False

In [139]:
b|b

False

In [140]:
b or b

False

In [141]:
b  or a

True

In [142]:
a or b

True

# Python Tokens
# Python tokens are the smallest units in a program.

In [1]:
# Keywords = Examples:
# if, else, while, for, break, continue, class, def, etc.

In [ ]:
# Identifiers = Examples:
# variable_name, functionName, ClassName, _private_variable

In [ ]:
# Python program to demonstrate identifiers

var1 = 10
print(var1)   # Output: 10

def functionName( ) :
    print("This is a function")

functionName( )  # Call the function

10
This is a function

In [ ]:
'''
Literals  
Literals are the data items that have a fixed value. Python supports several types of literals:

String Literals: "Hello", 'World'
Numeric Literals: 123, 3.14
Boolean Literals: True, False
'''

# Intro to Python Strings

In [80]:
str1 = 'this my first string'

In [81]:
str1

'this my first string'

In [ ]:
str2 = "this is my secound string"

In [ ]:
str2

'this is my secound string'

In [82]:
str3 = ''' This is 
multiline
string
'''

In [83]:
str3

' This is \nmultiline\nstring\n'

In [84]:
my_string = 'my name is joli '

In [85]:
my_string

'my name is joli '

In [ ]:
my_string[3]

'n'

In [ ]:
my_string[11]

'j'

In [ ]:
my_string[8:15 ]

'is joli'

In [86]:
my_string  = "My nane is khan"

In [ ]:
my_string

'My nane is khan'

In [87]:
len(my_string)

15

In [88]:
my_string.lower()

'my nane is khan'

In [ ]:
my_string.upper()

'MY NANE IS KHAN'

In [ ]:
my_string.capitalize()

'My nane is khan'

In [144]:
my_string.replace("khan","Moin")

'My nane is Moin'

In [ ]:
my_string.lower()

'my nane is khan'

In [145]:
my_string.isprintable()

True

In [147]:
my_string.count('M')

1

In [ ]:
my_string.replace('My', 'Your')

'Your nane is khan'

In [ ]:
st= 'My name is Moin'

In [ ]:
st

'My name is Moin'

In [ ]:
st.find("i")

8

In [148]:
st.find('m')

-1

In [149]:
st.count('M')

1

In [ ]:
st.upper()

'MY NAME IS MOIN'

In [ ]:
st.replace('is','are')

'My name are Moin'

In [ ]:
st

'My name is Moin'

In [9]:
st1= 'this is my book '

In [ ]:
st1

'this is my book '

In [ ]:
st1[0]

't'

In [ ]:
st1[6]

's'

In [ ]:
st1[0 ]= 'T'

TypeError: 'str' object does not support item assignment

In [ ]:
st1[2]

'i'

In [11]:
st1.find('i')

2

In [151]:
fruit = ' I Like apples, mangos,grapes, bananas'

In [165]:
fruit.count('s')

4

In [ ]:
fruit.split('s')

[' I Like apple', ', mango', ', banana', '']

# A tuple is an immutable, ordered collection of elements.Tuples can contain elements of different data types. You can create a tuple by putting elements inside parentheses (), separated by commas.                                        #Immutable: Once you create a tuple, you  can't change its elements.

In [ ]:
# Creating a tuple with multiple elements
my_tuple = (1, 2, 3, 4)
print(my_tuple)  # Output: (1, 2, 3, 4)

(1, 2, 3, 4)

In [ ]:
my_tuple = (4,5,6,'Name',100,3,14.15)
my_tuple

(4, 5, 6, 'Name', 100, 3, 14.15)

In [ ]:
my_tuple = (4,5,6,'Name',100,3,14.15,3+1j)

In [ ]:
my_tuple

(4, 5, 6, 'Name', 100, 3, 14.15, (3+1j))

In [ ]:
type(my_tuple)

tuple

In [ ]:
my_tuple[3]

'Name'

In [ ]:
my_tuple[1]

5

In [ ]:
my_tuple[0: 5 ]

(4, 5, 6, 'Name', 100)

In [ ]:
my_tuple[2] = "myName"

TypeError: 'tuple' object does not support item assignment

In [ ]:
my_tuple[3:4 ]

('Name',)

In [ ]:
len(my_tuple)

8

In [ ]:
my_tuple

(4, 5, 6, 'Name', 100, 3, 14.15, (3+1j))

In [ ]:
tup1=(1,2,2,4,3)
tup2 =(5,6,7,8)

In [ ]:
tup1+tup2

(1, 2, 2, 4, 3, 5, 6, 7, 8)

In [ ]:
tup1 = (1,2,3,4,5)
tup2 = (6,7,8,9,10)

In [ ]:
tup1,tup2

((1, 2, 3, 4, 5), (6, 7, 8, 9, 10))

In [ ]:
tup2 + tup1

(6, 7, 8, 9, 10, 1, 2, 3, 4, 5)

In [ ]:
tup1 = ('Python', 100)

In [ ]:
tup1 * 3

('Python', 100, 'Python', 100, 'Python', 100)

In [ ]:
tup1 * 3 + tup2

('Python', 100, 'Python', 100, 'Python', 100, 6, 7, 8, 9, 10)

In [ ]:
tup1=(10,20,30,40,50,60,70,80,90,100)

In [ ]:
min(tup1)

10

In [ ]:
max(tup1)

100

In [ ]:
tp1= (10,20,30,'Python',20,10,30,40,'Python',True,False,50,60,70,80)
tp2 =(20,50,50,100,'Python',101.3,True)

In [ ]:
tp1, tp2

((10, 20, 30, 'Python', 20, 10, 30, 40, 'Python', True, False, 50, 60, 70, 80),
 (20, 50, 50, 100, 'Python', 101.3, True))

In [ ]:
tp3 = tp1 + (80,90,100,110)
print(tp3)

(10, 20, 30, 'Python', 20, 10, 30, 40, 'Python', True, False, 50, 60, 70, 80, 80, 90, 100, 110)

In [ ]:
tp3 = ((10, 20, 30, 'Python', 20, 10, 30, 40,40, 'Python', 'P',True, False, 50, 60, 70, 80, 80, 90, 100, 110))

In [ ]:
tp3.count('Python')

2

In [ ]:
# Slicing a tuple 
# You can get a part of a tuple (a slice) using the slicing syntax start:stop.
my_tuple = (10, 20, 30, 40, 50)
print(my_tuple[1:4])  # Output: (20, 30, 40)

(20, 30, 40)

In [ ]:
tup3 = (1,2,3,4,5,6,7,'moin',3.14,10,20,200,50,'Python',True,55,60,1.125)

In [ ]:
5 in tup3  # We can check if an item is present in a tuple using the 'in' keyword.

True

In [ ]:
my_tuple = (10, 20, 30, 40, 50)  # We can iterate through the elements of a tuple using a for loop.
for item in my_tuple:
    print(item)

10
20
30
40
50

In [ ]:
tup3[2:8]

(3, 4, 5, 6, 7, 'moin')

In [ ]:
tup3.index(3)

2

In [ ]:
tup1 = 1,2,3
tup2= 4,'y',6

In [ ]:
tup1,tup2

((1, 2, 3), (4, 'y', 6))

In [ ]:
tup1   + tup2

(1, 2, 3, 4, 'y', 6)

In [ ]:
tup1.count(3)

1

In [ ]:
my_tuple = ('apple', 'banana', 'cherry','grapes')
for index, fruit in enumerate(my_tuple):
    print(f"Index {index}: {fruit}")

Index 0: apple
Index 1: banana
Index 2: cherry
Index 3: grapes

In [ ]:
# Tuple methods
my_tuple = (5,10, 20, 30, 20, 20, 40, 50)
print(my_tuple.count(20))  # Output: 3
print(my_tuple.index(30))  # Output: 2

3
3

In [ ]:
min(my_tuple)

5

In [ ]:
tp5 = ("Python",'Excel',"Software",'Learn','Practice','Hello World')
i = 0
while i < len(tp5):
    print(tp5[i])
    i  += 1

Python
Excel
Software
Learn
Practice
Hello World

In [ ]:
my_tuple = (1, 2, 3)
i = 0
while i < len(my_tuple):
    print(my_tuple[i])
    i += 1

1
2
3

# #List in Python: A list in Python is created by placing comma-separated values (items) inside square brackets [].

In [173]:
l1 = [211,553,101,'My','syed',3.15,100,True]
# print(l1[0])
# print(l1[1])
# print(l1[4])

for i in l1:
    print(i)

211
553
101
My
syed
3.15
100
True

In [169]:
len(l1)

8

In [ ]:
type(l1)

list

In [12]:
l1[3] = 150

In [13]:
print(l1)

[2, 3, 7, 150, 'syed', 3.15, 100, True]

In [15]:
l1[2] = "My Python"

In [17]:
print(l1)

[2, 3, 'My Python', 150, 'syed', 3.15, 100, True]

In [9]:
l1[2:4]

[7, 150]

In [ ]:
l1[0]=500
l1

[500, 'syed', 3.15, 150, True]

In [ ]:
l1.pop(6)
l1

[50, 'syed', 3.15, 100, True, 120]

In [18]:
l1.insert(0,'water')
l1

['water', 2, 3, 'My Python', 150, 'syed', 3.15, 100, True]

In [ ]:
l1.append('Mango')
l1.pop(-1)

'Mango'

In [ ]:
# Creating a simple list
fruits = ["apple", "banana", "cherry"]
print(fruits)

['apple', 'banana', 'cherry']

In [ ]:
l1.remove('Mango')
l1

['water', 500, 'syed', 3.15, 'banana', 'banana', True, 150, 'Mango']

In [ ]:
l1.pop()

10

In [ ]:
l1.append('Hero')
l1

[50, 'syed', 3.15, 'banana', 'banana', 100, True, 120, 'Hero']

In [20]:
l2 = ['Apple',"Banana", 'Grapes','Egg','Anar','Cherry']
l3 = [7,8,9,1,10]

In [21]:
l2,l3

(['Apple', 'Banana', 'Grapes', 'Egg', 'Anar', 'Cherry'], [7, 8, 9, 1, 10])

In [22]:
l2+l3

['Apple', 'Banana', 'Grapes', 'Egg', 'Anar', 'Cherry', 7, 8, 9, 1, 10]

In [23]:
l2.sort()
l2

['Anar', 'Apple', 'Banana', 'Cherry', 'Egg', 'Grapes']

In [24]:
l2.reverse()
l2

['Grapes', 'Egg', 'Cherry', 'Banana', 'Apple', 'Anar']

In [25]:
lis = ["apple", "banana", "cherry"]
for i in lis:
  print(i)

apple
banana
cherry

# Dictionary in Python

A dictionary in Python is a collection of key-value pairs. It is unordered, mutable, and indexed.
You can create a dictionary using curly braces {} or the dict() constructor.

Python main ake dictionary ki majmuah hoti he joe kay-qimat joday hote haine yah bay tarteeba tabdeel ho sakti hai aur index ki hoti haiaap dictionary co curly breases {} ya dict() constrictor ki madad se bana sakte haine

In [ ]:
d1 = {'Apple': 100,'Banana': 60,'Cherry': 125,'Date' : 305,'Berry': 150 }
d1

{'Apple': 100, 'Banana': 60, 'Cherry': 125, 'Date': 305, 'Berry': 150}

In [ ]:
d1.keys()

dict_keys(['Apple', 'Banana', 'Cherry', 'Date', 'Berry'])

In [ ]:
d1.values()

dict_values([100, 60, 125, 305, 150])

In [ ]:
# You can access the price of a specific fruit by using its key in square brackets [].
print(d1['Apple'])
print(d1['Cherry']) 
print(d1['Date'])

100
125
305

In [ ]:
d1['Orange'] = 90

In [ ]:
d1

{'Apple': 100, 'Banana': 60, 'Cherry': 125, 'Date': 305, 'Berry': 150}

In [ ]:
d2 ={'Watermellon':150,'Grapes': 80,}

In [ ]:
d1.update(d2)
d1

{'Apple': 100,
 'Banana': 60,
 'Cherry': 125,
 'Date': 305,
 'Berry': 150,
 'Watermellon': 150,
 'Grapes': 80}

In [ ]:
d1.get('Date')

305

In [ ]:
d1.items()

dict_items([('Apple', 100), ('Banana', 60), ('Cherry', 125), ('Date', 305), ('Berry', 150), ('Grapes', 80), ('Watermellon', 150), ('Orange', 90)])

In [ ]:
d1.pop(('Mango', 'Rberry'), (150, 170))

(150, 170)

In [ ]:
d1.items()

dict_items([('Apple', 100), ('Banana', 60), ('Cherry', 125), ('Date', 305), ('Berry', 150), ('Grapes', 80)])

In [ ]:
d1

{'Apple': 100,
 'Banana': 60,
 'Cherry': 125,
 'Date': 305,
 'Berry': 150,
 'Watermellon': 150,
 'Grapes': 80}

In [ ]:
if 'Apple' in d1:
    print('Apple is available')
else:
    print('Apple is not available')

Apple is available

In [ ]:
for fruit in d1: #Iterating Through Keys
    print(fruit)

Apple
Banana
Cherry
Date
Berry
Grapes
Watermellon
Orange

In [ ]:
for price in d1.values(): #Iterating Through Values
    print(price)

100
60
125
305
150
80
150
90

In [ ]:
for fruit, price in d1.items(): #Iterating Through Key-Value Pairs
    print(f'{fruit}: ${price}')

Apple: $100
Banana: $60
Cherry: $125
Date: $305
Berry: $150
Grapes: $80
Watermellon: $150
Orange: $90

In [ ]:
# Creating a nested dictionary
d5 = {
    'apple': {'price': 0.60, 'quantity': 100},
    'banana': {'price': 0.25, 'quantity': 150},
    'cherry': {'price': 1.50, 'quantity': 200}
}
print(d5)

{'apple': {'price': 0.6, 'quantity': 100}, 'banana': {'price': 0.25, 'quantity': 150}, 'cherry': {'price': 1.5, 'quantity': 200}}

In [ ]:
apple_price = d5 ['apple']['price']
print(f"Price of an apple: ${apple_price}")  # Output: 0.60

Price of an apple: $0.6

In [ ]:
d5['mango'] = {'price': 0.90, 'quantity': 90}
print(d5)

{'apple': {'price': 0.6, 'quantity': 100}, 'banana': {'price': 0.25, 'quantity': 150}, 'cherry': {'price': 1.5, 'quantity': 200}, 'grapes': {'price': 0.95, 'quantity': 40}, 'mango': {'price': 0.9, 'quantity': 90}}

In [ ]:
d5['banana']['price'] = 0.75
d5['banana']['quantity'] = 180
print(d5)

{'apple': {'price': 0.6, 'quantity': 100}, 'banana': {'price': 0.75, 'quantity': 180}, 'cherry': {'price': 1.5, 'quantity': 200}, 'grapes': {'price': 0.95, 'quantity': 40}, 'mango': {'price': 0.9, 'quantity': 90}}

In [ ]:
for fruit, price in d5.items(): #Iterating Through Key-Value Pairs
    print(f'{fruit}: ${price}')

apple: ${'price': 0.6, 'quantity': 100}
banana: ${'price': 0.75, 'quantity': 180}
cherry: ${'price': 1.5, 'quantity': 200}
grapes: ${'price': 0.95, 'quantity': 40}
mango: ${'price': 0.9, 'quantity': 90}

In [ ]:
banana_quantity = d5['banana']['quantity']
print(f"Quantity of bananas: {banana_quantity}")  # Output: 150

Quantity of bananas: 180

In [ ]:
d5

{'apple': {'price': 0.6, 'quantity': 100},
 'banana': {'price': 0.75, 'quantity': 180},
 'cherry': {'price': 1.5, 'quantity': 200},
 'grapes': {'price': 0.95, 'quantity': 40},
 'mango': {'price': 0.9, 'quantity': 90}}

for fruit, details in d5.items():
    print(f"Fruit: {fruit}")
    for key, value in details.items():
        print(f"  {key}: {value}")

In [5]:
# def apply_discount(inventory, discount):
#     for fruit, details in inventory.items():
#         details['price'] = round(details['price'] * (1 - discount), 2)
#     return inventory

# # Apply a 10% discount to all fruit prices
# discounted_inventory = apply_discount(fruit_inventory, 0.10)
# print(discounted_inventory)

In [34]:
# Step 1: Create the fruit inventory dictionary
fr = {
    'apple': {'price': 0.60, 'quantity': 100},
    'banana': {'price': 0.25, 'quantity': 150},
    'cherry': {'price': 1.50, 'quantity': 200}
}

# Step 2: Define a function to display the inventory
def display_inventory(fr):
    print("Current Fruit Inventory:")
    for fruit, details in fr.items():
        print(f"Fruit: {fruit}")
        for key, value in details.items():
            print(f"  {key}: {value}")
    print()

# Step 3: Define a function to add a new fruit to the inventory
def add_fruit(fr, fruit, price, quantity):
    fr[fruit] = {'price': price, 'quantity': quantity}
    print(f"{fruit} added to the inventory.")
    display_inventory(fr)

# Step 4: Define a function to update the price of a fruit
def update_price(fr, fruit, new_price):
    if fruit in fr:
        fr[fruit]['price'] = new_price
        print(f"The price of {fruit} has been updated.")
    else:
        print(f"{fruit} not found in the inventory.")
    display_inventory(fr)

# Step 5: Define a function to update the quantity of a fruit
def update_quantity(fr, fruit, new_quantity):
    if fruit in fr:
        fr[fruit]['quantity'] = new_quantity
        print(f"The quantity of {fruit} has been updated.")
    else:
        print(f"{fruit} not found in the inventory.")
    display_inventory(fr)

# Step 6: Define a function to remove a fruit from the inventory
def remove_fruit(fr, fruit):
    if fruit in fr:
        del fr[fruit]
        print(f"{fruit} has been removed from the inventory.")
    else:
        print(f"{fruit} not found in the inventory.")
    display_inventory(fr)

display_inventory(fr)
add_fruit(fr, 'mango', 0.75, 80)
update_price(fr, 'apple', 0.65)
update_quantity(fr, 'banana', 120)
remove_fruit(fr, 'cherry')

Current Fruit Inventory:
Fruit: apple
  price: 0.6
  quantity: 100
Fruit: banana
  price: 0.25
  quantity: 150
Fruit: cherry
  price: 1.5
  quantity: 200

mango added to the inventory.
Current Fruit Inventory:
Fruit: apple
  price: 0.6
  quantity: 100
Fruit: banana
  price: 0.25
  quantity: 150
Fruit: cherry
  price: 1.5
  quantity: 200
Fruit: mango
  price: 0.75
  quantity: 80

The price of apple has been updated.
Current Fruit Inventory:
Fruit: apple
  price: 0.65
  quantity: 100
Fruit: banana
  price: 0.25
  quantity: 150
Fruit: cherry
  price: 1.5
  quantity: 200
Fruit: mango
  price: 0.75
  quantity: 80

The quantity of banana has been updated.
Current Fruit Inventory:
Fruit: apple
  price: 0.65
  quantity: 100
Fruit: banana
  price: 0.25
  quantity: 120
Fruit: cherry
  price: 1.5
  quantity: 200
Fruit: mango
  price: 0.75
  quantity: 80

cherry has been removed from the inventory.
Current Fruit Inventory:
Fruit: apple
  price: 0.65
  quantity: 100
Fruit: banana
  price: 0.25
  quantity: 120
Fruit: mango
  price: 0.75
  quantity: 80

In [35]:
fr['orange'] = {'price': 0.90, 'quantity': 100}

In [36]:
for fruit, price in fr.items(): #Iterating Through Key-Value Pairs
    print(f'{fruit}: ${price}')

apple: ${'price': 0.65, 'quantity': 100}
banana: ${'price': 0.25, 'quantity': 120}
mango: ${'price': 0.75, 'quantity': 80}
orange: ${'price': 0.9, 'quantity': 100}

In [37]:
fr.keys()

dict_keys(['apple', 'banana', 'mango', 'orange'])

In [38]:
fr

{'apple': {'price': 0.65, 'quantity': 100},
 'banana': {'price': 0.25, 'quantity': 120},
 'mango': {'price': 0.75, 'quantity': 80},
 'orange': {'price': 0.9, 'quantity': 100}}

If Statement

In [39]:
if 'orange' in fr:
    print('orange is available')
else:
    print('orange is not available')

orange is available

In [44]:
fruit = input("Enter the name of a fruit: ")

if fruit == "apple":
    print("You entered apple.")
elif fruit == "banana":
    print("You entered banana.")
else:
    print(f"You entered {fruit}.")

You entered Grape.

In [45]:
Movie = input("Enter the movie name you like :")

if Movie == "Naam":
    print("You entred : Naam")
elif Movie == "ddl":
    print("You entred : DDL")
else:
    print(f"You entred {Movie}.")

You entred Jaan.

In [ ]:
new_fruit = "buleberry"
quantity = 15

if new_fruit in fruits:
    fruits[new_fruit] += quantity
else:
    fruits[new_fruit] = quantity

print(fruits)

{'apple': 10, 'banana': 5, 'orange': 8, 'grape': 15, 'buleberry': 45}

In [ ]:
fruits = {
    "apple": 10,
    "banana": 5,
    "orange": 8
}

# Check if a key exists
if "apple" in fruits:
    print("Apple is available")
else:
    print("Apple is not available")

# Access and compare values
if "banana" in fruits:
    if fruits["banana"] > 0:
        print("Bananas are in stock")
    else:
        print("Bananas are out of stock")
else:
    print("Bananas are not listed in the inventory")

# Add a new fruit or update an existing one
# new_fruit = "grape"
# quantity = 15

# if new_fruit in fruits:
#     fruits[new_fruit] += quantity
# else:
#     fruits[new_fruit] = quantity

print(fruits)

In [ ]:
fruits = {
    "apple": 10,
    "banana": 5,
    "orange": 8
}

# Check if a key exists
if "apple" in fruits:
    print("Apple is available")
else:
    print("Apple is not available")

# Access and compare values
if "banana" in fruits:
    if fruits["banana"] > 0:
        print("Bananas are in stock")
    else:
        print("Bananas are out of stock")
else:
    print("Bananas are not listed in the inventory")

Apple is available
Bananas are in stock

In [47]:
# Even or Odd program in Python    Write a Python program that takes an integer as input and prints whether it is even or odd using an if-else statement.
num = int(input("Enter an integer: "))
if num % 2 == 0:
    print(num, "is even.")
else:
    print(num, "is odd.")

1501 is odd.

In [48]:
# if else exercises in python test: Grade Calculator
score = float(input("Enter your score: "))
 
if score >= 90:
    print("A")
elif score >= 80:
    print("B")
elif score >= 70:
    print("C")
elif score >= 60:
    print("D")
else:
    print("F")

A

In [49]:
# if else exercises in python
age = int(input("Enter your age: "))
 
if age < 18:
    print("You are a child.")
elif age < 60:
    print("You are an adult.")
else:
    print("You are a senior citizen.")

You are an adult.

In [51]:
# if else exercises pdf in python: ATM machine
account_balance = 50000  # Initial account balance
 
print("Welcome to the ATM!")
print()
option = input("Choose an option (1: Check Balance, 2: Withdraw): ")
 
if option == "1":
    print(f"Your account balance is ${account_balance}.")
elif option == "2":
    amount = float(input("Enter the withdrawal amount: "))
    if amount <= account_balance:
        account_balance -= amount
        print(f"Withdrawn ${amount}. New balance: ${account_balance}.")
    else:
        print("Insufficient funds.")
else:
    print("Invalid option. Please choose 1 or 2.")

Welcome to the ATM!

Withdrawn $500.0. New balance: $49500.0.

In [55]:
account_balance = 3000

print("Welcome to the ATM!")
print()
option = input('choose an option(1: Check Balance, 2: Withdraw) :')
if option == '1':
    print(f"Your account balance is ${account_balance}. ")
elif option == '2':
    amount = float(input("Enter the withrawal amount : "))
    if amount <= account_balance:
        account_balance -= amount
        print(f"Withrawn ${amount}. New balance: ${account_balance}.")
    else:
        print("Insufficient funds.")
else:
    print("Invalid option. Please Choose 1 or 2")

Welcome to the ATM!

Withrawn $200.0. New balance: $2800.0.

In [88]:
name = "John"
age = 25
print("Name:", name, "Age:", age)

Name: John Age: 25

In [56]:
# Exercise: Remove whitespaces from the string and print the result.
sentence = "   Python is fun   to work"
stripped_sentence = " ".join(sentence.split())
print("Before Sentence:", sentence)
print("Stripped Sentence:", stripped_sentence)

Before Sentence:    Python is fun   to work
Stripped Sentence: Python is fun to work

In [58]:
#Question: Create a Python program that splits a given string
quote = "i love Python Coding is an art"  
wl = quote.split()
print("wl :", wl)

wl : ['i', 'love', 'Python', 'Coding', 'is', 'an', 'art']

In [63]:
#Create a Python program that repeats a given word (â€˜Pythonâ€™)
Word = ' Python '
RepeatWord = Word * 3
print("RepeatWord" , RepeatWord)

RepeatWord  Python  Python  Python

In [68]:
#Write a Python code that pads a given string (â€œPythonâ€) with dashes on both sides
Text = "My Name is Khan"
padded_text = Text.center(40,"-")
text2 = "I Love Python"
Ptext = text2.center(50,"-")
print("padded_text :" , padded_text)
print("Ptext :",Ptext)

padded_text : ------------My Name is Khan-------------
Ptext : ------------------I Love Python-------------------

In [69]:
# Exercise: Join the elements of the list into a single string and print the result.
words = ['Coding', 'is', 'fun']
joined_string = ' '.join(words)
print("Joined String:", joined_string)

Joined String: Coding is fun

In [70]:
# Exercise: Use string formatting to insert the values of 'name' and 'age' into the sentence and print the result.
name = "Moin"
age = 45
Talk = "Hello, my name is {} and I am {} years old.".format(name, age)
print(Talk)

Hello, my name is Moin and I am 45 years old.

In [13]:
name = "Syed Moin"
age = 44
#Talk = (f"Hello, my name is {name} and I am {age} years old.") 
Talk = f"Hello, my name is {name} and I am {age} years old."

print(Talk)

Hello, my name is Syed Moin and I am 44 years old.

In [12]:
name = "Moin"
age = 50
city = "New York"
profession = "Python engineer"
introduction = f"My name is {name}. I am {age} years old. I live in {city}. I work as an {profession}."
print(introduction)

My name is Moin. I am 50 years old. I live in New York. I work as an Python engineer.

In [81]:
# Variables
language = "Python"
version = 3.9
popular_libraries = ["Django", "Flask", "Requests"]
is_interpreted = True

# Using f-string
python_info = f"Language: {language}, Version: {version}, Popular Libraries: {', '.join(popular_libraries)}, Is Interpreted: {is_interpreted}"

print(python_info)

Language: Python, Version: 3.9, Popular Libraries: Django, Flask, Requests, Is Interpreted: True

In [84]:
# Exercise: Format the given number as a currency and print the result.
#We can achieve this by using the format() method with the format specifier "{:,.2f}" to represent the number in currency format with two decimal places
# and comma separators for thousands.
amount = 3500.50
formatted_amount = "${:,.2f}".format(amount)
print("Formatted Amount:", formatted_amount)

Formatted Amount: $3,500.50

In [87]:
"$" +  str(1500.50)

'$1500.5'