**\-- SQL Practice Script: Basics + Intermediate --**

 **✅ Use this in VS Code with MS SQL extension**

In [2]:
-- 1. View all Employees
SELECT * FROM Employees;

EmpID,FirstName,LastName,DeptID,DesigID,JoinDate
201,Ahmed,Khan,1,1,2020-01-10
202,Zara,Sheikh,2,2,2021-05-15
203,Imran,Ali,3,3,2019-11-01
204,Sana,Malik,4,4,2018-06-20
207,Tariq,Zaman,3,3,2020-07-25
208,Tania,Agarwal,2,2,2022-03-01

In [3]:
-- 2. View all Departments
SELECT * FROM Departments;

DeptID,DeptName
1,IT
2,HR
3,Sales
4,Finance

In [4]:
-- 3. View all Designations
SELECT * FROM Designations;

DesigID,DesigTitle
1,Software Engineer
2,HR Executive
3,Sales Associate
4,Accountant

In [5]:
-- 4. View all Salaries
SELECT * FROM Salaries;

EmpID,BasicSalary,Allowance,Deductions,Bonus
201,60000.00,5000.00,2000.00,2500.00
202,50000.00,4000.00,1500.00,1000.00
203,45000.00,3000.00,1200.00,1000.00
204,55000.00,3500.00,1700.00,1000.00
207,52000.00,3500.00,1200.00,1000.00
208,48000.00,3000.00,1500.00,1000.00

In [ ]:

-- 5. Insert a new Employee
INSERT INTO Employees (EmpID, FirstName, LastName, DeptID, DesigID, JoinDate)
VALUES (205, 'Bilal', 'Hussain', 1, 1, '2022-03-01');

In [ ]:
-- 6. Update an Employee's Designation
UPDATE Employees
SET DesigID = 2
WHERE EmpID = 205;

In [ ]:
-- 7a. First delete from Salaries
DELETE FROM Salaries
WHERE EmpID = 205;

In [ ]:
-- 7b. Then delete from Employees
DELETE FROM Employees
WHERE EmpID = 205;

In [ ]:
-- 8. Add a new column to Salaries table
ALTER TABLE Salaries
ADD Bonus DECIMAL(10,2);

In [ ]:
-- 9. Update Bonus for an employee
UPDATE Salaries
SET Bonus = 2500
WHERE EmpID = 201;

In [ ]:
-- 10. Drop the Bonus column (if needed)
-- ALTER TABLE Salaries
-- DROP COLUMN Bonus;

**<mark>\-- ✅ INTERMEDIATE LEVEL QUERIES (JOIN, GROUP BY, CASE)</mark>**

In [15]:
-- 11. Join Employees with Salaries
SELECT E.EmpID, FirstName, LastName, BasicSalary, Allowance
FROM Employees E
JOIN Salaries S ON E.EmpID = S.EmpID;

EmpID,FirstName,LastName,BasicSalary,Allowance
201,Ahmed,Khan,60000.00,5000.00
202,Zara,Sheikh,50000.00,4000.00
203,Imran,Ali,45000.00,3000.00
204,Sana,Malik,55000.00,3500.00
207,Tariq,Zaman,52000.00,3500.00
208,Tania,Agarwal,48000.00,3000.00

In [14]:
-- 12. Join Employees with Departments
SELECT E.FirstName, E.LastName, D.DeptName
FROM Employees E
JOIN Departments D ON E.DeptID = D.DeptID;

FirstName,LastName,DeptName
Ahmed,Khan,IT
Zara,Sheikh,HR
Imran,Ali,Sales
Sana,Malik,Finance
Tariq,Zaman,Sales
Tania,Agarwal,HR

In [13]:
-- 13. Total Salary (Basic + Allowance) for each employee
SELECT EmpID, (BasicSalary + Allowance) AS TotalSalary
FROM Salaries;

EmpID,TotalSalary
201,65000.00
202,54000.00
203,48000.00
204,58500.00
207,55500.00
208,51000.00

In [12]:
-- 14. Use CASE to show tax status
SELECT EmpID, BasicSalary,
  CASE 
    WHEN BasicSalary > 5000 THEN 'Taxable'
    ELSE 'Non-Taxable'
  END AS TaxStatus
FROM Salaries;

EmpID,BasicSalary,TaxStatus
201,60000.00,Taxable
202,50000.00,Taxable
203,45000.00,Taxable
204,55000.00,Taxable
207,52000.00,Taxable
208,48000.00,Taxable

In [11]:
-- 15. Count employees in each department
SELECT DeptID, COUNT(*) AS TotalEmployees
FROM Employees
GROUP BY DeptID;

DeptID,TotalEmployees
1,1
2,2
3,2
4,1

In [10]:
-- 16. Average salary per department
SELECT E.DeptID, AVG(S.BasicSalary) AS AvgSalary
FROM Employees E
JOIN Salaries S ON E.EmpID = S.EmpID
GROUP BY E.DeptID;

DeptID,AvgSalary
1,60000.000000
2,49000.000000
3,48500.000000
4,55000.000000

In [9]:
-- 17. Employees who joined after 2022
SELECT * FROM Employees
WHERE JoinDate > '2022-01-01';

EmpID,FirstName,LastName,DeptID,DesigID,JoinDate
208,Tania,Agarwal,2,2,2022-03-01

In [8]:
-- 18. Get top 3 highest salaries
SELECT TOP 3 EmpID, BasicSalary
FROM Salaries
ORDER BY BasicSalary DESC;

EmpID,BasicSalary
201,60000.00
204,55000.00
207,52000.00

In [7]:
-- 19. Employees without salary records
SELECT *
FROM Employees
WHERE EmpID NOT IN (SELECT EmpID FROM Salaries);

In [6]:
-- 20. Show full name and total salary
SELECT FirstName + ' ' + LastName AS FullName,
       (BasicSalary + Allowance - ISNULL(Deductions, 0)) AS NetSalary
FROM Employees E
JOIN Salaries S ON E.EmpID = S.EmpID;

FullName,NetSalary
Ahmed Khan,63000.00
Zara Sheikh,52500.00
Imran Ali,46800.00
Sana Malik,56800.00
Tariq Zaman,54300.00
Tania Agarwal,49500.00

In [ ]:
-- ✅ You're now practicing SELECT, INSERT, UPDATE, DELETE, ALTER, JOIN, GROUP BY, CASE